.constructSpinner() {
    & #spinner {
        .flex-item();
        .flex-grow();
        .flex-container-row();

        div {
            .flex-container-col();

            justify-content: center;
            align-content: center;
            height: 100%;
        }

        justify-content: center;
        align-content: center;
        height: 100%;
    }
}