# SPDX-FileCopyrightText: 2022 Simon Wendel
# SPDX-License-Identifier: GPL-3.0-or-later

server {
    listen      80 default_server;

    location /.well-known/acme-challenge/ {
        root    /var/www/certbot;
    }

    location / {
        return  301 https://$host$request_uri;
    }
}
