// SPDX-FileCopyrightText: 2022 Simon Wendel
// SPDX-License-Identifier: GPL-3.0-or-later

@import (inline) 'reset.css';

@import (reference) 'colors.less';
@import (reference) 'flex.less';
@import (reference) 'tags.less';
@import (reference) 'components.less';
@import (reference) 'responsive.less';

@screen-size-threshold: 768px;
.set-responsive(@screen-size-threshold);

body {
    .flex-container-col();

    height: 100vh;
    color: @default-font-color;
    background-color: @default-background-color;
}

header {
    .flex-item();
    .flex-container-row();

    .set-styled-links(@header-a-font-color-styled);

    .app-title();
    .app-logo();

    align-content: center;
    align-items: center;
    min-height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: @header-background-color;
}

main {
    .flex-item();
    .flex-grow();
    .flex-container-col();

    .app-loader();
    .app-section();

    .error {
        color: @default-error-color;
    }

    height: 1fr;
    padding: max(5%, 10px);
}

footer {
    @footer-font-size: 1.0rem;
    @footer-symbol-size: 2.0rem;

    .flex-item();

    .set-styled-links(@footer-a-font-color-styled);

    #footer-symbol {
        font-size: @footer-symbol-size;
        font-weight: bold;
    }

    span {
        font-size: @footer-font-size;
        vertical-align: middle;
        line-height: @footer-symbol-size; // we must match height of tallest node
        font-style: italic;
    }

    color: @footer-font-color;
    background-color: @footer-background-color;
    text-align: center;
}
