/* general */
@default-color: #c94040;
@default-color-complement-dark: #503232;
@default-color-complement-light: #d6bdbd;
@default-color-complement-accent-light: #ffd2d2;
@default-color-complement-accent-dark: #9a6666;

@default-font-color: @default-color-complement-dark;
@default-background-color: @default-color-complement-light;
@default-error-color: #b30000;

/* buttons */
@button-font-color: @default-color-complement-dark;

@ok-button-background-color: #9ccf31;
@ok-button-background-color-hover: lighten(@ok-button-background-color, 10%);
@ok-button-border-color: @default-color-complement-dark;

@cancel-button-background-color: #ef0000;
@cancel-button-background-color-hover: lighten(@cancel-button-background-color, 10%);
@cancel-button-border-color: @default-color-complement-dark;

@neutral-button-background-color: #f7d708;
@neutral-button-background-color-hover: lighten(@neutral-button-background-color, 10%);
@neutral-button-border-color: @default-color-complement-dark;

/* inputs */
@input-background-color: #fff;
@input-border-color: @default-color-complement-dark;
@input-invalid-border-color: @default-error-color;

/* dividers */
@hr-accent-light: @default-color-complement-accent-light;
@hr-accent-dark: @default-color-complement-accent-dark;

/* links */
@a-font-color-styled: @default-color;
@a-font-color: #003eb3;

/* header */
@app-title-background-color-hover: lighten(@default-color-complement-accent-light, 20%);
@app-title-border-color: @default-color-complement-light;
@header-background-color: #fff;
@header-a-font-color-styled: @a-font-color-styled;

/* main sections */
@main-section-background-color: #fff;
@main-section-border-color: @default-color-complement-accent-light;

/* footer */
@footer-background-color: #fff;
@footer-font-color: @default-color;
@footer-a-font-color-styled: @default-color-complement-accent-light;
